In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.tokenize import sent_tokenize, word_tokenize, WordPunctTokenizer

# NLP - Análise de Sentimentos


Documentação: https://vadersentiment.readthedocs.io/en/latest/ <br>
Referência: https://www.kaggle.com/code/hgultekin/lexicon-based-sentiment-analysis-with-vader

In [2]:
textos = pd.read_csv(r'bases\austen_books.csv')
textos

                        text                 book
0      SENSE AND SENSIBILITY  Sense & Sensibility
1                        NaN  Sense & Sensibility
2             by Jane Austen  Sense & Sensibility
3                        NaN  Sense & Sensibility
4                     (1811)  Sense & Sensibility
...                      ...                  ...
73417   national importance.           Persuasion
73418                    NaN           Persuasion
73419                    NaN           Persuasion
73420                    NaN           Persuasion
73421                  Finis           Persuasion

[73422 rows x 2 columns]

## Removendo Nulos

In [6]:
textos_na = textos.dropna()
textos_na

                                                    text                 book
0                                  SENSE AND SENSIBILITY  Sense & Sensibility
2                                         by Jane Austen  Sense & Sensibility
4                                                 (1811)  Sense & Sensibility
9                                              CHAPTER 1  Sense & Sensibility
12     The family of Dashwood had long been settled i...  Sense & Sensibility
...                                                  ...                  ...
73414  her sunshine.  She gloried in being a sailor's...           Persuasion
73415  the tax of quick alarm for belonging to that p...           Persuasion
73416  possible, more distinguished in its domestic v...           Persuasion
73417                               national importance.           Persuasion
73421                                              Finis           Persuasion

[62279 rows x 2 columns]

## Aplicando Análise de Sentimento Biblioteca VaderSentiment

In [7]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

In [8]:

def calculate_sentiment_scores(sentence):
    sntmnt = analyzer.polarity_scores(sentence)['compound']
    return(sntmnt)

In [9]:
emma_book = textos_na[textos_na['book'] == 'Emma']

In [11]:
eng_snt_score =  []

for comment in emma_book.text.to_list():
    snts_score = calculate_sentiment_scores(comment)
    eng_snt_score.append(snts_score)

In [13]:
emma_book['sentiment_score'] = np.array(eng_snt_score)
emma_book

C:\Users\leosm\AppData\Local\Temp\ipykernel_1328\1035592697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emma_book['sentiment_score'] = np.array(eng_snt_score)

,text,book,sentiment_score
41003,EMMA,Emma,0.0000
41005,By Jane Austen,Emma,0.0000
41010,VOLUME I,Emma,0.0000
41014,CHAPTER I,Emma,0.0000
41017,"Emma Woodhouse, handsome, clever, and rich, wi...",Emma,0.9201
...,...,...,...
57230,most pitiful business!--Selina would stare whe...,Emma,-0.5838
57231,"in spite of these deficiencies, the wishes, th...",Emma,0.5106
57232,the predictions of the small band of true frie...,Emma,0.7096
57233,"ceremony, were fully answered in the perfect h...",Emma,0.8074
57237,FINIS,Emma,0.0000

## Criando Array categorizando o Score de Sentimento

In [14]:
i = 0

vader_sentiment = [ ]

while(i<len(emma_book)):
    if ((emma_book.iloc[i]['sentiment_score'] >= 0.05)):
        vader_sentiment.append('positive')
        i = i+1
    elif ((emma_book.iloc[i]['sentiment_score'] > -0.05) & (emma_book.iloc[i]['sentiment_score'] < 0.05)):
        vader_sentiment.append('neutral')
        i = i+1
    elif ((emma_book.iloc[i]['sentiment_score'] <= -0.05)):
        vader_sentiment.append('negative')
        i = i+1

In [15]:
emma_book['sentiment'] = vader_sentiment
emma_book

C:\Users\leosm\AppData\Local\Temp\ipykernel_1328\262560543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emma_book['sentiment'] = vader_sentiment

,text,book,sentiment_score,sentiment
41003,EMMA,Emma,0.0000,neutral
41005,By Jane Austen,Emma,0.0000,neutral
41010,VOLUME I,Emma,0.0000,neutral
41014,CHAPTER I,Emma,0.0000,neutral
41017,"Emma Woodhouse, handsome, clever, and rich, wi...",Emma,0.9201,positive
...,...,...,...,...
57230,most pitiful business!--Selina would stare whe...,Emma,-0.5838,negative
57231,"in spite of these deficiencies, the wishes, th...",Emma,0.5106,positive
57232,the predictions of the small band of true frie...,Emma,0.7096,positive
57233,"ceremony, were fully answered in the perfect h...",Emma,0.8074,positive
57237,FINIS,Emma,0.0000,neutral